{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
	"plugins": ["transform-es3-property-literals", "check-es2015-constants","transform-es3-member-expression-literals", "transform-es2015-constants", "transform-export-default", "transform-es2015-block-scoping"]
}
